name: Deploy develop

on:
  push:
    branches:
      - develop
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Deploy to Heroku 'svelte-kit-app-dev'
        uses: AkhileshNS/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: 'svelte-kit-app-dev' #Must be unique in Heroku
          heroku_email: '${{secrets.HEROKU_EMAIL}}'
